body {
    font-family: 'Times New Roman', Times, serif;
    background-color: green;
}

header {
    width: 80%;
    background-color: green;
    color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    overflow: hidden;

}
.topnav {
  overflow: hidden;
  background-color: green;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

nav {
    width:50%;
    float: right;
  }
  
  nav ul {
    list-style-type:none;
  }
  
  nav li {
    float:left;
    margin-right:5px;
  }

  img {
    height: 250px;
    margin-right: auto;
    margin-left: auto;
  }

  footer {
    width:80%;
    background-color:rgba(0, 128, 0, 0.445);
    color:white;
    margin-right:auto;
    margin-left:auto;
    height: 50px;
    padding:20px;
  }
